.movies {
  width: 60em;
  margin: 0 auto;
}

.movies .title {
  font-size: 32px;
  text-align: left;
}

.movies .slider {
  display: flex;
  gap: 1em;
  width: 50em;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
}